

.ulLista {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    box-sizing: border-box;

}

.ulLista li {
    border: solid 1px #666;
    padding: 6px 10px;
    margin: 10px;
    list-style: none;
}
