.App {
  text-align: center;
}

a {
  color: #666666;
  text-decoration: none;
}

ul {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin: 10px;
  padding: 6px;
}

.content {
  margin: auto;
  border: 1px solid #666;
  padding: 20px;
  width: 65%;
}
